<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Graph Detail Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <div class="dashboard">
      <nav class="sidebar">
        <a href="/recruits/" class="title {% if request.path == '/recruits/' %}active{% endif %}"
          ><img src="{% static 'assets/image/two.png' %}" alt="table Icon" class="icon" id="mainIcon"
        /></a>
        <a href="/recruits/table/" class="{% if request.path == '/recruits/table/' %}active{% endif %}"
          ><img src="{% static 'assets/image/data-icon.png' %}" alt="table Icon" class="icon" />table</a
        >
        <a href="/recruits/graph/" class="{% if request.path == '/recruits/graph/' %}active{% endif %}"
          ><img src="{% static 'assets/image/graph-icon.png' %}" alt="graph Icon" class="icon" />graph</a
        >
      </nav>
      <main class="content">
        <section class="graph-detail-container">
          <h2 class="title-heading2">Visualized Data</h2>  <!-- 제목 중앙 정렬 -->
          <div class="graph-grid">
          <!-- 왼쪽 큰 영역 (두 그래프 묶음) -->
          <div class="graph-wrapper graph-large">
            <h3>시/도별 채용 공고 수</h3>
            <div class="graph" id="graph-choropleth">
              {{ choropleth_html|safe }}
            </div>
          </div>
          <!-- 오른쪽 상단 작은 영역: 신입/경력 공고 수 비율 -->
          <div class="graph-wrapper graph-small-top">
            <h3>신입/경력 공고 수 비율</h3>
            <div class="statistics-container">
              <div class="statistics-text">
                <div class="statistics-title">전체: {{ total_jobs   }}</div>
                <div class="intern-percentage">신입: {{ intern_percentage|floatformat:2  }}%</div>
                <div class="experienced-percentage">경력: {{ experienced_percentage|floatformat:2 }}%</div>
              </div>
              <div class="career-graph">
                <img src="data:image/png;base64,{{ bar_graph }}" alt="신입/경력 공고 비율">
              </div>
            </div>
          </div>                   
          <!-- 오른쪽 하단 작은 영역 -->
            <div class="graph-wrapper graph-small-bottom">
              <h3>플랫폼 및 카테고리 별 채용 공고</h3>
              <div class="graph" id="graph-platform-category">
                {{ line_plot_html|safe }}
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>