<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2게뭐조</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="dashboard">
      <nav class="sidebar">
        <a href="/recruits/" class="title">2게뭐조</a>
        <a href="/recruits/table/"><img src="/static/assets/image/data-icon.png" alt="table Icon" class="icon" />table</a>
        <a href="/recruits/graph/"><img src="/static/assets/image/graph-icon.png" alt="graph Icon" class="icon" />graph</a>
      </nav>

      <main class="content">
        <section class="graph-container">
          <div class="card-wrapper">
            <h3>Summary</h3>
            <div class="card">
              <span class="count">15</span>
              <span>오늘 마감 공고</span>
              <!-- <p>{{ job_count }}</p> -->
            </div>
            <div class="card">
              <span class="count">13</span>
              <span>검색 채널 수</span>
              <!-- <p>{{ job_application_count }}</p> -->
            </div>
          </div>
          <div class="img-wrapper">
            <img src="/static/assets/image/wordcloud.png" alt="Word Cloud" />
          </div>
        </section>
        <section class="table-container">
          <h3>Job Postings Closing This Week</h3>
          <table class="results-table">
            <tbody id="result">
              {% for recruit in recruits %}
              <tr class="recruit-row">
                <td>
                  <a href="{{ recruit.detail_url }}">
                    <img class="logo" src="/static/assets/image/{{ recruit.platform_name }}.png" alt="logo" />
                  </a>
                </td>
                <td>{{ recruit.title }}</td>
                <td>{{ recruit.company_name }}</td>
                <td class="end-date" data-end-date="{{ recruit.end_date }}">
                  <span>{{ recruit.end_date }}</span>
                </td>
                <td>{{ recruit.platform_name }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>
      </main>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const endDateCells = document.querySelectorAll(".end-date");
        const today = new Date();
        today.setHours(0, 0, 0, 0);

        endDateCells.forEach((cell) => {
          const endDateString = cell.getAttribute("data-end-date");

          if (endDateString === "수시채용" || endDateString === "채용시") {
            return;
          }
          let endDate = new Date(endDateString);
          if (isNaN(endDate)) {
            return;
          }

          endDate.setHours(0, 0, 0, 0);

          const diffTime = endDate - today;
          const diffDays = diffTime / (1000 * 60 * 60 * 24);

          console.log("Difference in days:", diffDays);
          const span = cell.querySelector("span");

          if (diffDays === 0) {
            span.classList.add("red-background");
          } else if (diffDays > 0 && diffDays <= 10) {
            span.classList.add("orange-background");
          }
        });
      });
    </script>
  </body>
</html>
