<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table Detail Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="dashboard">
      <nav class="sidebar">
        <a href="/recruits/" class="title {% if request.path == '/recruits/' %}active{% endif %}">2게뭐조</a>
        <a href="/recruits/table/" class="{% if request.path == '/recruits/table/' %}active{% endif %}"
          ><img src="{% static 'assets/image/data-icon.png' %}" alt="table Icon" class="icon" />table</a
        >
        <a href="/recruits/graph/" class="{% if request.path == '/recruits/graph/' %}active{% endif %}"
          ><img src="{% static 'assets/image/graph-icon.png' %}" alt="graph Icon" class="icon" />graph</a
        >
      </nav>

      <main class="content">
        <section class="table-detail-container">
          <h2>All Data-Related Job Postings</h2>
          <nav class="filter-nav">
            <a href="#" id="filterA" class="active" data-category="ALL">ALL</a>
            <a href="#" id="filterB" data-category="데이터 엔지니어">Data Engineer</a>
            <a href="#" id="filterC" data-category="데이터 분석가">Data Analyst</a>
            <a href="#" id="filterD" data-category="데이터 사이언티스트">Data Scientist</a>
          </nav>
          <div class="table-wrapper">
            <table class="results-table" id="detail-table">
              <thead>
                <tr>
                  <th>북마크</th>
                  <th>바로가기</th>
                  <th>공고</th>
                  <th>회사</th>
                  <th>마감일</th>
                  <th>지역</th>
                  <th>경력</th>
                </tr>
              </thead>
              <tbody id="recruitTableBody">
                {% for recruit in recruits %}
                <tr class="recruit-row" data-category="{{ recruit.category_name }}">
                  <td>
                    <input type="checkbox" id="bookmark-checkbox-{{ recruit.id }}" />
                    <label for="bookmark-checkbox-{{ recruit.id }}" class="bookmark-label"></label>
                  </td>
                  <td>
                    <a href="{{ recruit.detail_url }}" target="_blank" rel="noopener noreferrer">
                      <img class="logo" src="/static/assets/image/{{ recruit.platform_name }}.png" alt="logo" />
                    </a>
                  </td>
                  <td>{{ recruit.title }}</td>
                  <td>{{ recruit.company_name }}</td>
                  <td class="end-date" data-end-date="{{ recruit.end_date }}">
                    <span>{{ recruit.end_date }}</span>
                  </td>
                  <td>{{ recruit.region }}</td>
                  <td>{{ recruit.career }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </section>
      </main>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
