<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2게뭐조</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="dashboard">
      <nav class="sidebar">
        <a href="/recruits/" class="title {% if request.path == '/recruits/' %}active{% endif %}"
          ><img src="{% static 'assets/image/two.png' %}" alt="table Icon" class="icon" id="mainIcon"
        /></a>
        <a href="/recruits/table/" class="{% if request.path == '/recruits/table/' %}active{% endif %}"
          ><img src="{% static 'assets/image/data-icon.png' %}" alt="table Icon" class="icon" />table</a
        >
        <a href="/recruits/graph/" class="{% if request.path == '/recruits/graph/' %}active{% endif %}"
          ><img src="{% static 'assets/image/graph-icon.png' %}" alt="graph Icon" class="icon" />graph</a
        >
      </nav>

      <main class="content">
        <section class="graph-container">
          <div class="card-wrapper">
            <h3>Summary</h3>
            <span class="total-count">수집된 총 공고 수: {{ all_position_count }}</span> <!-- 총 공고 수 표시 -->
            <div class="card">
              <span class="count">{{ closing_today_count }}</span>
              <span>오늘 마감 공고</span>
            </div>
            <div class="card">
              <span class="count">{{ platform_count }}</span>
              <span>검색 채널 수</span>
            </div>
          </div>

              <!-- 워드클라우드 -->
              <div class="graph-wrapper2">
                <span class="total-count">직무별 핵심 기술 역량</span> <!-- 고정 텍스트 추가 -->
                <div class="grid-container">
                  {% for category, image in wordclouds.items %}
                    <div class="wordcloud-item" id="wordcloud-{{ forloop.counter }}" {% if not forloop.first %}style="display:none;"{% endif %}>
                      <h3>{{ category }}</h3> <!-- 카테고리 이름 출력 -->
                      <img src="data:image/png;base64,{{ image }}" alt="{{ category }} 기술 스택">
                    </div>
                  {% endfor %}
                </div>
              </div>
              <!-- 좌우 화살표 버튼을 오른쪽으로 배치 -->
              <div class="controls" style="text-align: right; margin-top: -40px;">
                <button onclick="changeWordCloud(-1)">&#9664;</button>
                <button onclick="changeWordCloud(1)">&#9654;</button>
              </div>
        </section>
        
        <section class="under-container">
          <div class="table-container">
            <div class="table-label">
              <h3>Weekly Job Postings</h3>
            </div>
            <table class="results-table">
              <tbody id="result">
                {% for recruit in recruits %}
                <tr class="recruit-row">
                  <td>
                    <a href="{{ recruit.detail_url }}">
                      <img class="logo" src="/static/assets/image/{{ recruit.platform_name }}.png" alt="logo" />
                    </a>
                  </td>
                  <td>{{ recruit.title }}</td>
                  <td>{{ recruit.company_name }}</td>
                  <td class="end-date" data-end-date="{{ recruit.end_date }}">
                    <span>{{ recruit.end_date }}</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="plattform-container">
            <div class="row">
              <img src="{% static 'assets/image/theteams.png' %}" alt="Logo" class="plattform" />
              <img src="{% static 'assets/image/rocketpunch.png' %}" alt="Logo" class="plattform" />
            </div>
            <div class="row">
              <img src="{% static 'assets/image/surfit.png' %}" alt="Logo" class="plattform" />
              <img src="{% static 'assets/image/saramin.png' %}" alt="Logo" class="plattform" />
              <img src="{% static 'assets/image/wanted.png' %}" alt="Logo" class="plattform" />
            </div>
            <div>
              <img src="{% static 'assets/image/jobplanet.png' %}" alt="Logo" class="plattform" />
              <img src="{% static 'assets/image/programmers.png' %}" alt="Logo" class="plattform" />
              <img src="{% static 'assets/image/catch.png' %}" alt="Logo" class="plattform" />
            </div>
            <div class="row">
              <img src="{% static 'assets/image/peoplenjob.png' %}" alt="Logo" class="plattform" />
              <img src="{% static 'assets/image/incruit.png' %}" alt="Logo" class="plattform" />
            </div>
          </div>
        </section>
      </main>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>