* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  all: unset;
  display: inline-block;
}
body {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #004b44;
}
.dashboard {
  display: flex;
  height: calc(100% - 6rem);
  margin: 3rem;
  border-radius: 1rem;
  background-color: #f2f1ee;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 10rem;
  box-shadow: 3px 0 1rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
.title {
  font-size: 1.6rem;
  font-weight: bolder;
  margin: 3rem 0 1rem 0;
  text-align: center;
  justify-content: center;
}
.sidebar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 5rem;
}
.sidebar a:hover,
.sidebar a.active {
  background-color: #004b44;
  color: white;
}
.sidebar a .icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
.sidebar a:hover .icon,
.sidebar a.active .icon {
  filter: brightness(0) invert(1);
}
a #mainIcon {
  width: 3rem;
  height: 3rem;
}
.content {
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.content section:first-child {
  flex: 3;
}
.content section:last-child {
  flex: 5;
}
.graph-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 28%;
  height: 95%;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 0.5rem;
}
.card-wrapper:first-child {
  flex: 1;
  margin-right: 1rem;
}
.card-wrapper:last-child {
  flex: 2;
}
.card-wrapper h3 {
  font-weight: bold;
  margin: 0;
}
.grid-container {
  height: 95%;
  overflow: hidden;
}
.card {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 1rem;
  background-color: white;
}
.card .count {
  font-size: 2.5rem;
  font-weight: bolder;
  margin-right: 1rem;
}
.red-count {
  color: #ff6d3b;
}
.orange-count {
  color: orange;
}
.green-count {
  color: #004b44;
}
.card span {
  font-size: 1rem;
}
.img-wrapper {
  width: 65%;
  border-radius: 0.5rem;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.under-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  max-height: calc(100vh - 18rem);
  overflow: auto;
}
.table-container {
  width: 70%;
  overflow-y: auto;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
}
.table-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: #f9f9f9;
  z-index: 1;
}
.plattform-container {
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.plattform-container .row {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.plattform {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}
#filterThisWeek {
  padding: 0.5rem 1rem;
  border: 1px solid#ff6d3b;
  border-radius: 5rem;
  color: #ff6d3b;
}
#filterThisWeek:hover,
#filterThisWeek.active {
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  background-color: #ff6d3b;
  color: white;
}
.filter-nav {
  display: flex;
  margin-top: 1rem;
}
.filter-nav a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  border-radius: 5rem;
  margin-right: 1rem;
}
.filter-nav a.active {
  background-color: #333;
  color: #fff;
}
.filter-nav a:hover {
  background-color: #ccc;
}
th,
td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
  border-left: none;
  border-right: none;
  vertical-align: middle;
  height: 4rem;
  text-align: center;
}
th .sort button {
  cursor: pointer;
  position: relative;
}
.sort button.sorted {
  color: red;
}
.sort-arrow {
  width: 12px;
  height: 12px;
  margin-left: 5px;
  vertical-align: middle;
}
.results-table th:first-child,
.results-table td:first-child {
  width: 6rem;
}

#detail-table {
  margin-top: 0;
}
#detail-table th:first-child,
#detail-table td:first-child,
#detail-table th:nth-child(2),
#detail-table td:nth-child(2) {
  width: 5rem;
}
#detail-table th:nth-child(5),
#detail-table td:nth-child(5) {
  width: 10rem;
}
#detail-table th:nth-child(6),
#detail-table td:nth-child(6) {
  width: 8rem;
}
#detail-table th:nth-child(7),
#detail-table td:nth-child(7) {
  width: 7rem;
}
.bookmark-container {
  display: inline-block;
  position: relative;
}
input[type="checkbox"] {
  display: none;
}
.table-wrapper {
  width: 100%;
  max-height: calc(100vh - 18rem);
  border-collapse: collapse;
  margin-top: 1rem;
  background-color: white;
  overflow-y: auto;
}
.results-table {
  width: 100%;
  border-collapse: collapse;
  padding: 1rem;
}
.results-table #result td:nth-child(4) {
  width: 8rem !important;
}
.results-table thead {
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  z-index: 1;
}
.bookmark-label {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("/static/assets/image/bookmark.png");
  background-size: cover;
  cursor: pointer;
}
input[type="checkbox"]:checked + .bookmark-label {
  background-image: url("/static/assets/image/bookmark-fill.png");
}
.logo {
  width: 3rem;
  height: auto;
  transition: transform 0.3s;
  display: block;
  margin: auto;
}
.logo:hover {
  transform: scale(1.3);
}
.end-date span {
  padding: 0.25rem 0.5rem;
  border-radius: 5rem;
}
.red-background {
  background-color: red !important;
  color: white !important;
  position: relative;
}
.red-background::after {
  content: "오늘 마감입니다";
  position: absolute;
  bottom: -80%;
  left: 50%;
  transform: translateX(-50%);
  color: red;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}
.red-background:hover::after {
  opacity: 0.8;
}
.orange-background {
  background-color: orange !important;
  color: white !important;
  position: relative;
}
.orange-background::after {
  content: "일주일 내 마감입니다";
  position: absolute;
  bottom: -80%;
  left: 50%;
  transform: translateX(-50%);
  color: orange;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}
.orange-background:hover::after {
  opacity: 0.8;
}

/* 그래프 컨테이너 스타일 */
.graph-grid {
  display: grid;
  grid-template-columns: 50% 50%; /* 균등한 두 열로 설정 */
  grid-template-rows: auto; /* 자동으로 높이 조정 */
  gap: 20px; /* 각 항목 간의 간격 */
  width: 100%; /* 전체 가로 폭 사용 */
  height: 100%; /* 부모 요소에 맞추기 */
  padding: 20px; /* 전체 여백 */
  box-sizing: border-box; /* 여백을 포함한 크기 계산 */
}

.graph-wrapper {
  position: relative;
  padding-top: 50px; /* 제목과 겹치지 않도록 그래프와의 간격 확보 */
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  margin: 10px; /* 그리드 아이템별 여백 */
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(145, 118, 118, 0.1);
  overflow: hidden; /* 내용이 넘어가지 않도록 숨기기 */
}

/* 그래프 공통 스타일 */
.graph-wrapper h3 {
  position: absolute;
  top: 0; /* 부모 요소의 맨 위에 고정 */
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10;
}

/* 왼쪽 큰 영역 */
.graph-large {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* 지도의 최소 높이를 지정하여 공간이 확보되도록 함 */
}

.graph-large .h3 {
  position: absolute;
  top: 10px; /* 위쪽에서 약간 간격 */
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10;
}
/* 오른쪽 위 작은 영역 */
.graph-small-top {
  grid-column: 2 / 3; /* 두 번째 열 */
  grid-row: 1 / 2; /* 첫 번째 행 */
  width: 100%;
  height: auto; /* 필요에 따라 자동으로 높이 설정 */
}
.graph-content img {
  max-width: 100%; /* 이미지 크기를 부모 요소의 너비에 맞춤 */
  height: auto;
  margin-left: auto; /* 왼쪽 여백을 최대화하여 이미지를 오른쪽으로 정렬 */
}
/* 오른쪽 아래 작은 영역 */
.graph-small-bottom {
  grid-column: 2 / 3; /* 두 번째 열 */
  grid-row: 2 / 3; /* 두 번째 행 */
  width: 100%;
  height: auto; /* 필요에 따라 자동으로 높이 설정 */
}

/* 지도 요소에 적용되는 제목 */
.graph-large h3 {
  top: 20px; /* 조금 더 위로 올림 */
}

/* 작은 그래프 제목 */
.graph-small-top h3,
.graph-small-bottom h3 {
  top: 5px; /* 작은 그래프의 경우 간격 조정 */
}

/* 그래프 컨테이너 스타일 */

/* #워드클라우드# */
.wordcloud-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 98%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 추가로 시각적 분리 */
}
.wordcloud-item .category-title {
  position: absolute;
  right: 0;
  bottom: 4rem;
  margin: 2rem 1rem 0.5rem 0;
  z-index: 10;
  font-size: 1.2rem;
  font-weight: 600;
}
.wordcloud-item img {
  width: 108%;
  margin-left: -15%;
  margin-top: -5%;
}
.graph-wrapper2 {
  position: relative; /* 자식 요소의 절대 위치를 기준으로 설정 */
}

.graph-wrapper2 .total-count {
  position: absolute; /* 오른쪽 위에 고정 */
  top: 10px; /* 위쪽 여백 */
  right: 10px; /* 오른쪽 여백 */
  font-size: 14px;
  color: #666;
  margin-top: 0; /* 이전의 여백 제거 */
  background-color: rgba(255, 255, 255, 0.7); /* 가독성을 위한 배경 추가 (선택사항) */
  padding: 5px 10px; /* 텍스트와 배경 간 여백 */
  border-radius: 5px; /* 모서리 둥글게 (선택사항) */
  border: 3px solid #054a44; /* 녹색 테두리 추가 */
}
.controls {
  text-align: right;
  margin-top: -4rem;
  margin-right: 1rem;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}
.controls button {
  background: none;
  line-height: 1;
  border: 1.5px solid #054a44;
  color: #054a44;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-left: 0.25rem;
}
.controls button:first-child {
  padding: 0.3rem 0.6rem 0.2rem 0.4rem;
}
.controls button:last-child {
  padding: 0.3rem 0.4rem 0.2rem 0.6rem;
}

.controls button:hover {
  color: white;
  background-color: #054a44;
}

/**************그래프 탭입니다 *****************/

/* width 1400px 이하이면 */
@media screen and (max-width: 1400px) {
  .plattform-container {
    height: 100%;
  }
  .plattform-container .row {
    gap: 0.5rem;
  }
  .plattform {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
  }
  .wordcloud-item .category-title {
    font-size: 1rem;
  }
  .controls button {
    border: 1px solid #054a44;
    font-size: 1rem;
  }
}

/* width 1600px 이하이면 */
@media screen and (min-width: 1600px) {
  .plattform-container .row {
    gap: 2rem;
  }
  .plattform {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
  }
}
