* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, sans-serif;
    width: calc(100% - 16rem);
    margin: 0 auto;
    background-color: #f0f0f0;
  }
  header {
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title {
    margin-bottom: 0;
    height: 30%;
    display: flex;
    align-items: end;
  }
  .container {
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .summary {
    border: 1px solid black;
    width: 14rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filter-nav {
    display: flex;
    margin: 1rem 0;
    border-bottom: 1px solid #ccc;
  }
  .filter-nav a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    border-radius: 5rem;
    margin-right: 1rem;
  }
  .filter-nav a.active {
    background-color: #333;
    color: #fff;
  }
  .filter-nav a:hover {
    background-color: #ccc;
  }
  .results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5rem;
    background-color: white;
  }
  th,
  td {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: left;
    border-left: none;
    border-right: none;
  }
  .results-table th {
    background-color: #e0e0e0;
    border-bottom: 1px solid #ccc;
  }
  .logo {
    width: 3rem;
    height: auto;
    transition: transform 0.3s;
  }
  .logo:hover {
    transform: scale(1.3);
  }